#latoya {
    float: right;
    margin: 10px;
}

#whatAbout {
    width: 500px;
    float: left;
    margin: 10px;
}

#hist1 {
    width: 500px;
    float: left;
    margin: 10px;
}

#hist2 {
    width: 500px;
    float: right;
    margin: 10px;
    height: 600px;
}

@media only screen and (max-width: 768) {

    .title-container > *{
        font-size: 1.5em;
    }

    #latoya, #whatAbout, #hist1, #hist2 {
        width: 100px;
    }
}