.quizContainer {
    font-size: 2em;
    color: #333;
    margin: auto;
}

.question {
    font-weight: 600;
    font-family: $header2Font;
    font-size: 2em;
    text-align: center;

    &:hover{
        color: $color1;
    }
}

.answers {
    margin-bottom: 50px;
    font-size: 1.7em;
    font-family: $textFont;
    text-align: justify;
    padding: 20px 0 20px 100px;
    border-bottom: black dashed 1px;

    &:hover{
        color: $color4;
    }
}

input[type="radio"]:checked{
    color: $color1;
}

#submitQuiz {
    font-family: sans-serif;
    font-size: 20px;
    background-color: #297;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

#submit:hover {
    background-color: #3a8;
}